.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-shape: 8px;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

  .mdc-button__label {
    color: #fff;
  }

  &.snackbar-success {
    --mdc-snackbar-container-color: rgb(4 70 10);
  }

  &.snackbar-error {
    --mdc-snackbar-container-color: rgb(68 4 4);
  }
}
