<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <input matInput [type]="inputType" [placeholder]="placeholder" [formControl]="control" />
  @if (icon) {
    <mat-icon matPrefix>{{ icon }}</mat-icon>
  }

  @if (type === 'password') {
    <button mat-icon-button matSuffix type="button" (click)="togglePassword()">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  }

  @if (control.invalid && (control.touched || control.dirty)) {
    <mat-error>{{ control.errors | validationError }}</mat-error>
  }
</mat-form-field>
