@use 'abstracts' as *;

.error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: px-to-rem(24);

  &__container {
    margin-top: px-to-rem(-100);
    padding: px-to-rem(48);
    border-radius: px-to-rem(20);
    text-align: center;
    max-width: px-to-rem(720);
    width: 100%;
  }

  img {
    width: 100%;
  }

  &__description {
    font-size: px-to-rem(48);
    font-weight: 700;
    color: $color-text-heading;
    margin-bottom: px-to-rem(32);
    line-height: 1.6;
  }
}
