@use 'abstracts' as *;

.navbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 0 px-to-rem(16);
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: px_to_rem(8);
    cursor: pointer;
  }

  &__logo {
    height: px-to-rem(48);
    width: px-to-rem(48);
    object-fit: contain;
  }

  &__title {
    font-size: px-to-rem(48);
    font-weight: 600;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: px-to-rem(12);
  }

  &__avatar {
    height: px-to-rem(32);
    width: px-to-rem(32);
    border-radius: 50%;
    object-fit: cover;
  }
}
