@use 'abstracts/variables' as v;

body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  line-height: v.$line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 v.$space-sm 0;
  font-weight: 500;
}

p {
  margin: 0 0 v.$space-md 0;
}
